.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1f24;
}

.auth-box {
    background: #2a2f38;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #3a3f47;
    color: #fff;
}

.title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}

.input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #3a3f47;
    background: #1e1f24;
    color: #fff;
    outline: none;
}

.input:focus {
    border-color: #0078d7;
}

.primary-button {
    width: 100%;
    padding: 12px;
    background: #0078d7;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
}

.primary-button:hover {
    background: #0a6cc4;
}

.switch-text {
    color: #ccc;
    margin-top: 12px;
    font-size: 14px;
}

.link {
    color: #0078d7;
    cursor: pointer;
    text-decoration: underline;
}

.link:hover {
    color: #0aa4ff;
}